.App {
  text-align: center;
  
}

.test {
  background-image: url ("https://upload.wikimedia.org/wikipedia/commons/thumb/6/61/HTML5_logo_and_wordmark.svg/512px-HTML5_logo_and_wordmark.svg.png");
  background-repeat: no-repeat;
  background-size: contain ;
  
  
}

